<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发布信息</title>
</head>
<body>
<form action="http://127.0.0.1:8000/v1/users">
    <div>
        <label for="username">用户名</label>
        <input type="text" id="username" name="username">
    </div>
    <div>
        <label for="commodityName">酒店名称</label>
        <input type="text" id="commodityName" name="commodityName">
    </div>
    <div>
        <label for="info">酒店简介</label>
        <input type="text" id="info" name="info">
    </div>
    <div>
        <label for="price">酒店简介</label>
        <input type="text" id="price" name="price">
    </div>
    <div>
        <label for="location">位置</label>
        <input type="text" id="location" name="location">
    </div>
    <div>
        <label for="location">位置</label>
        <input type="text" id="location" name="location">
    </div>
    <div>
        <label for="contact">联系方式</label>
        <input type="text" id="contact" name="contact">
    </div>
    <div>
        <label for="roomtype">房型信息</label>
        <input type="text" id="roomtype" name="roomtype">
    </div>
    <div>
        <label for="image">房型信息</label>
        <input type="file" id="image" name="image">
    </div>
    <div>
        <input type="submit" value="提交">
    </div>


</form>
</body>
</html>